<div class="group-card">
  <div class="group-icon">
    <% if group.icon.present? && group.icon =~ URI::DEFAULT_PARSER.make_regexp %>
      <%= image_tag group.icon %>
    <% else %>
      <%= image_tag asset_path('bill.png') %>
    <% end %>
  </div>
  <div class="group-name">
    <%= link_to group.name, group %>
  </div>
  <div class="amount">
    <p><%= group.payments.sum(:amount) %></p>
  </div>
</div>
