<div class="group">
  <div class="group-icon">
    <%= link_to group.icon %>
  </div>
  <h2><%= link_to group.name, group %></h2>
  <div class="total">
    <p><%= group.payments.sum(:amount) %></p>
  </div>
</div>
