<div class="group">
  <div class="group-icon">
    <% if group.icon.present? && group.icon =~ URI::DEFAULT_PARSER.make_regexp %>
      <%= image_tag group.icon %>
    <% else %>
      <%= image_tag asset_path('bill.png') %>
    <% end %>
  </div>
  <h2><%= link_to group.name, group %></h2>
  <div class="total">
    <p><%= group.payments.sum(:amount) %></p>
  </div>
</div>
