<%= content_for :header do %>
  <%= link_to '<', groups_path, class:"back-btn btn header-btn" %>
  <h2>New Category</h2>
<% end %>
<%= render 'shared/errors', object: @group %>
<%= render 'form', group: @group %>
