<div class="total">
    <p>Total Amount: <%= @group.payments.sum(:amount) %></p>
  </div>
<%= render partial: 'payments/payment', collection: @payments %>
<%= link_to 'Add a new payment', new_payment_path %>
