<div class="container splash">
  <h1>InqezWallet</h1>
  <div class="splash actions">
    <%= link_to "Log in", new_user_session_path, class:"btn login" %>
    <%= link_to "Sign up", new_user_registration_path, class:"btn signup" %>
  </div>
</div>
