// Entry point for your Sass build
@import 'colors.sass.scss';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $darkest_text;
  background-color: $main_bg;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: $light_text;
  }

  * {
    box-sizing: inherit;
  }
  height: calc(100vh + 5rem);
}

@import 'layout.sass.scss';
@import 'header.sass.scss';
@import 'buttons.sass.scss';
@import 'forms.sass.scss';
@import 'group.sass.scss';
@import 'footer.sass.scss';
