$main_color: #3778c2;
$darkest_main: #2c609b;
$lightest_main: #3678c2;
$secondary_color: #5fb523;
$darkest_text: #434b54;
$dark_text: #535c66;
$light_text: #85898e;
$lightest_text: #969da3;
$white_text: #fff;
$splash_bg: #f0f2f1;
$main_bg: #f5f6f8;
$input_border: #d1d3d4;
$success_color: #c6e6c6de;
$warning_color: #f0dcc0d7;
