form {
  margin: 0 auto;
  padding: 1rem;
  max-width: 30rem;
  background-color: $main_bg;
  border-radius: 0.5rem;

  label {
    display: none;
  }

  .checkbox-label {
    display: inline-block;
  }

  input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $input_border;
    font-size: 1rem;
    line-height: 1.5;

    &:focus {
      outline: none;
      border-color: $main_color;
    }
  }

  .remember-field {
    display: flex;
    margin: 0.7rem 0;

    input {
      width: auto;
      margin-right: 0.5rem;
    }

    label {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  .field:first-of-type input {
    border-bottom: none;
  }

  button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: $main_color;
    color: $lightest_text;
    cursor: pointer;

    &:hover {
      background-color: darken($main_color, 10%);
    }

    &:focus {
      outline: none;
      border-color: $main_color;
    }
  }
}
